<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${edit ? 'Editing an existing driver' : 'Creating a new driver'}"></title>
</head>
<body>

<h1 th:text="${edit ? 'Editing an existing driver' : 'Creating a new driver'}"></h1>

<form method="post" th:action="@{'/drivers/save'}" th:object="${driver}">
    <input type="hidden" th:field="*{id}">
    Name: <input type="text" th:field="*{name}">
    <span th:errors="*{name}"></span>
    <br>
    Age: <input type="text" th:field="*{age}">
    <br>
    <span th:errors="*{age}"></span>
    <br>

    <select th:field="*{car}">
        <option th:each="c: ${cars}" th:text="${c.licensePlate}" th:value="${c.id}"></option>
    </select>
    <input type="submit" value="Save">
</form>


</body>
</html>